<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="container">
      <a href="/" class="logo">
        <svg width="30" height="32" viewBox="0 0 102 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M32.1644 0.717774C31.7398 0.247094 31.2057 0 30.5621 0C29.9185 0 29.3844 0.247094 28.9598 0.717774L14.7686 16.4151L7.04023 7.79302C6.6156 7.32234 6.08154 7.08696 5.43796 7.08696C4.79439 7.08696 4.26033 7.32234 3.8357 7.79302C3.41107 8.2637 3.19875 8.85461 3.19875 9.56573C3.19875 10.2769 3.41107 10.8678 3.8357 11.3384L13.6662 22.092C14.0909 22.5627 14.625 22.798 15.2686 22.798C15.9121 22.798 16.4462 22.5627 16.8708 22.092L33.1644 3.98325C33.5891 3.51257 33.8014 2.92167 33.8014 2.21055C33.8014 1.49943 33.5891 0.908458 33.1644 0.375289V0.717774H32.1644Z" fill="#FF385C"/>
          <path d="M70.4635 2.21055C70.4635 1.49943 70.6758 0.908458 71.1005 0.375289V0.717774C70.6758 0.247094 70.1417 0 69.4982 0C68.8546 0 68.3205 0.247094 67.8959 0.717774L53.7047 16.4151L45.9763 7.79302C45.5517 7.32234 45.0176 7.08696 44.3741 7.08696C43.7305 7.08696 43.1964 7.32234 42.7718 7.79302C42.3472 8.2637 42.1349 8.85461 42.1349 9.56573C42.1349 10.2769 42.3472 10.8678 42.7718 11.3384L52.6023 22.092C53.027 22.5627 53.5611 22.798 54.2047 22.798C54.8482 22.798 55.3823 22.5627 55.8069 22.092L72.1005 3.98325C72.5252 3.51257 72.7375 2.92167 72.7375 2.21055H70.4635Z" fill="#00A699"/>
          <path d="M89.0141 26.6184C88.5894 26.1477 88.0553 25.9124 87.4118 25.9124C86.7682 25.9124 86.2341 26.1594 85.8095 26.6301L79.23 33.4995C78.8054 33.9701 78.5931 34.561 78.5931 35.2722C78.5931 35.9833 78.8054 36.5742 79.23 37.0449C79.6546 37.5156 80.1887 37.7509 80.8323 37.7509C81.4759 37.7509 82.01 37.5156 82.4346 37.0449L89.0141 30.1754C89.4387 29.7048 89.651 29.1138 89.651 28.4027C89.651 27.6916 89.4387 27.1007 89.0141 26.6301V26.6184Z" fill="#FF385C"/>
          <path d="M98.8395 26.6184C98.4149 26.1477 97.8808 25.9124 97.2372 25.9124C96.5937 25.9124 96.0596 26.1594 95.635 26.6301L89.0555 33.4995C88.6308 33.9701 88.4185 34.561 88.4185 35.2722C88.4185 35.9833 88.6308 36.5742 89.0555 37.0449C89.4801 37.5156 90.0142 37.7509 90.6577 37.7509C91.3013 37.7509 91.8354 37.5156 92.26 37.0449L98.8395 30.1754C99.2642 29.7048 99.4765 29.1138 99.4765 28.4027C99.4765 27.6916 99.2642 27.1007 98.8395 26.6301V26.6184Z" fill="#00A699"/>
        </svg>
        Mini-Airbnb
      </a>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="#">À propos</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>